<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
  
  <h2>Login</h2>

  @if (errorMessage()) {
    <div class="server-error">
      {{ errorMessage() }}
    </div>
  }

  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Enter your email">
    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <small class="error">Please enter a valid email address</small>
    }
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" placeholder="Enter your password">
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <small class="error">Password is required (min. 3 characters)</small>
    }
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<p class="switch-auth">
    Don't have an account? 
    <a routerLink="/register">Register here</a>
</p>
